header {
  display: grid;
  grid-template-rows: 1fr 2fr;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: left;
}

.main-content > section {
  border-bottom: solid thin lightgray;
  padding: 2rem 4rem;
  line-height: 1.75rem;
}

.main-content > section > section {
  padding: 0 2rem;
}

.button {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  text-align: center;
}

.button a {
  grid-column: 1;
  background-color: goldenrod;
  color: white;
  border-radius: 10px;
  padding: .25rem
}

#giftawish {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#giftawish img {
  border-radius: 30px;
}

#inspoboard {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#inspoboard img {
  border-radius: 30px;
}

#bakesy {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#bakesy img {
  border-radius: 50%;
}

#muncher {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#muncher img {
  border-radius: 30px;
}

#hotel {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#rideshare {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#grocery-store {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#solar-system {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/*text-align: justify;
line-height: 1.75rem;
border-bottom: solid lightgray;*/
